body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #8B4513; /* Barna háttér */
    overflow: auto;
}

html {
    scroll-behavior: smooth; /* Sima görgetés minden linkre */
    height: auto;
}

h2{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
h3{
    font-size: 30px;
    color: black;
    
}

/* Navigációs sáv */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    font-size: 20px;
    z-index: 1000;
}

.logo {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #d3c6b0; /* Hover szín */
}

/* Hamburger menü stílusai */
.hamburger {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.nav-active {
    display: flex; /* Megjeleníti a menüt, ha aktív */
}

/* Mobil nézet */
@media (max-width: 800px) {
    .nav-links {
        display: none; /* Elrejti a menüt */
        flex-direction: column; /* Függőleges elrendezés */
        position: absolute;
        background-color: black;
        top: 60px; /* Navigációs sáv alatti elhelyezkedés */
        right: 0;
        width: 100%; /* Teljes szélesség */
        padding: 10px 0;
    }

    .nav-links li {
        margin: 10px 0; /* Függőleges térköz */
        text-align: center; /* Középre igazít */
    }

    .hamburger {
        display: block; /* Megjeleníti a hamburger ikont mobil nézetben */
    }

    nav {
        justify-content: space-between; /* Jobb és bal oldal elrendezése */
    }

    .logo{
        font-size: 20px;
        margin-right: auto;
    }
    
}